@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-light: #FCFCFC;
  --color-dark: #2D3440;
  --color-main: #FEAFC3;
  --color-main-soft: rgba(252, 252, 252, 0.30);
  --color-accent: #FF4A78;
  --color-gray: #B9B9B9;
  --color-gray-dark: #565C66;

  --transition-duration: 0.2s;
}

input,
textarea,
select,
button {
  font: inherit;
}

button * {
  pointer-events: none;
}

body {
  font-size: 16px;
  line-height: 1.375;
  color: var(--color-dark);
  background-color: var(--color-main);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body.is-locked {
  overflow: hidden;
}

a[class] {
  text-decoration: none;
}

ul[class] {
  list-style: none;
}

a:hover {
  color: lightblue;
}

h1,
.h1 {
  font-size: 36px;
  line-height: 1.28;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 1.44;
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

p {
  margin: 0;
}

svg * {
  transition: 0.075s;
}

svg * {
  fill: currentColor;
  stroke: transparent;
}

svg.stroke-svg * {
  fill: transparent;
  stroke: currentColor;
}

.gray-dark-text-color {
  color: var(--color-gray-dark);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.section-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.44;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding-inline: 32px;
  color: var(--color-light);
  font-weight: 700;
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.30);
  background-color: var(--color-accent);
  background-clip: padding-box;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  transition: 0.2s;
}

.button--white {
  color: var(--color-dark);
  border-color: rgba(252, 252, 252, 0.40);
  background-color: var(--color-light);
}

.button:hover {
  opacity: 0.75;
}

.input {
  height: 48px;
  padding-inline: 16px;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-light);
}

.input::placeholder {
  color: var(--color-gray);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(45 55 64 / 0.3);
  transition: 0.2s;
}

.modal:not(.is-active) {
  opacity: 0;
  visibility: hidden;
  scale: 0;
}

.modal__body {
  position: relative;
  width: 100%;
  max-width: 570px;
  padding: 64px;
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.modal__close-button:hover {
  color: var(--color-accent);
}

.modal__close-button svg {
  width: 20px;
  height: 20px;
}

.header {
  padding-block: 24px;
}

.header__inner {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header__menu {
  margin-right: auto;
}

.header__menu-list {
  display: flex;
  column-gap: 16px;
}

.header__menu-item {
  position: relative;
  display: flex;
  align-items: center;
}

.header__menu-button {
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  height: 36px;
  padding-inline: 16px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
}

.header__menu-button:hover {
  color: var(--color-light);
  background-color: var(--color-accent);
}

.header__menu-button:hover svg path {
  fill: var(--color-light);
}

.header__menu-button,
.header__menu-button .arrow .header__sub-menu {
  transition: var(--transition-duration);
}

.header__menu-button:focus .arrow {
  transform: rotate(-180deg);
}

.header__menu-button:not(:focus)+.header__sub-menu {
  opacity: 0;
  visibility: hidden;
}

.header__sub-menu {
  position: absolute;
  background-color: #FCFCFC;
  top: calc(100% + 8px);
  left: 0;
  min-width: 135px;
  padding-block: 8px;
  border-radius: 4px;
  font-size: 14px;
  background: var(--color-light);
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
  transition: 0.2s;
}

.header__sub-menu-main-link,
.header__sub-menu-link {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-inline: 16px;
  color: var(--color-dark);
}

.header__sub-menu-main-link:hover,
.header__sub-menu-link:hover {
  color: var(--color-accent);
}

.header__sub-menu-main-link {
  min-height: 36px;
  font-weight: 700;
}

.header__sub-menu-separator {
  margin: 4px 16px;
  border: 1px solid var(--color-gray);
}

.header__sub-menu-link {
  min-height: 32px;
}

.header__menu-link {
  color: inherit;
}

.logo {
  display: inline-flex;
  flex-direction: column;
  color: inherit;
}

.header__actions-list {
  display: flex;
  column-gap: 16px;
}

.header__actions-item {
  position: relative;
}

.header__actions-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  min-width: 32px;
  height: 32px;
  background-color: var(--color-main-soft);
  border: none;
  border-radius: 30px;
}

.header__actions-button:not(.only-icon) {
  padding-inline: 16px;
}

.header__actions-tooltip {
  position: absolute;
  z-index: 1;
  background-color: #FCFCFC;
  top: calc(100% + 8px);
  right: 0;
  padding: 24px 16px;
  border-radius: 4px;
  font-size: 14px;
  background: var(--color-light);
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
  transition: 0.2s;
}

.header__actions-item:not(.is-active) .header__actions-tooltip {
  opacity: 0;
  visibility: hidden;
}

.header__actions-button-cart-counter {
  display: inline-flex;

}

.header__actions-button-cart-counter::before {
  content: attr(data-count) '\00a0';
}

.slider__inner {
  display: flex;
  align-items: center;
}

.slider__info {
  margin-right: 26px;
}

.slider__title {
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.28;
}

.slider__text {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 1.33;
}

.slider__main {
  position: relative;
  margin-right: 37px;
  padding: 20px;
}

.slider__navigation-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.30);
  border: 2px solid var(--color-light);
  border-radius: 50%;
  transition: 0.2s;
}

.slider__navigation-button:hover {
  opacity: 0.75;
}

.slider__navigation-button--prev {
  left: 0;
}

.slider__navigation-button--next {
  right: 0;
}

.slider__image-wrapper {
  position: relative;
}

.slider__image-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: #FFCBD8;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider__extra {
  display: flex;
  align-items: center;
  column-gap: 40px;
  opacity: 0.4;
}

.ad__title {
  margin-bottom: 55px;
  text-align: center;
}

.ad__banners {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.banner {
  width: 570px;
  height: 269px;
  background: #FF7799;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ad__banner-about {
  width: 328px;
  display: flex;
  align-items: flex-start;
  padding: 36px;
  padding-right: 0;
  flex-direction: column;
  justify-content: space-between;
}

.ad__main-p {
  text-align: start;
  font-size: 16px;
  line-height: 22px;
}

.goods__title {
  margin-bottom: 107px;
  text-align: center;
}

.goods__list {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  gap: 90px 30px;
  margin: 0;
  padding: 0;
}

.goods__list-item {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  row-gap: 16px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.goods__name {
  margin-bottom: 8px;
  font-size: 20px;
}

.goods__name-link {
  color: inherit;
}

.goods__about {
  display: flex;
  height: 100%;
  padding: 0 40px 24px;
  flex-direction: column;
  text-align: center;
}

.goods__item-image-wrapper {
  flex-shrink: 0;
  width: 62.22%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: -51px;
  overflow: hidden;
}

.goods__item-image-wrapper:hover .goods__item-image {
  /* transform: scale(1.05); */
  scale: 1.25;
}

.goods__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

.goods__buy-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.goods__price {
  font-size: 20px;
  font-weight: 700;
}

.goods__buy-button {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-accent);
  border: none;
  border-radius: 50%;
  transition: 0.2s;
}

.goods__buy-button:hover {
  opacity: 0.75;
}

.goods__description {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.info-banner__inner {
  padding: 24px;
  background: #f1e8ce url("./images/Waffle.png") center/cover no-repeat;
  border-radius: 16px;
}

.info-banner__body {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: inherit;
}

.info-banner__title {
  margin-bottom: 56px;
  text-align: center;
}

.info-banner__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.info-banner__item {
  display: flex;
  column-gap: 16px;
}

.info-banner__item-image-wrapper {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid currentColor;
  border-radius: 50%;
}

.promo__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.promo-banner {
  min-height: 200px;
  background: #FCFCFC url("./images/News.png") center/cover no-repeat;
  padding: 6px;
  border-radius: 16px;
  display: flex;
  padding: 32.593px 235px 67.148px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.222px;
  align-self: stretch;
}

.subscribe-banner {
  background: pink url("./images/Candy.png") center/cover no-repeat;
  min-height: 200px;
  border-radius: 16px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.subscribe-banner__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-light);
  height: 100%;
  padding: 26px;
  border-radius: inherit;
}

.subscribe__block {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.subscribe-banner__input {
  width: 100%;
}

.subscribe-banner__button {
  height: auto;
}

.delivery__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  padding: 64px 64px 64px 100px;
  background: var(--color-light) url("./images/fruit.jpg") center/cover no-repeat;
  border-radius: 16px;
}

.delivery__info {
  width: 100%;
  max-width: 371px;
}

.delivery__title {
  margin-bottom: 25px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-width: 500px;
  padding: 40px;
  background-color: var(--color-light);
  border-radius: 8px;
}


.delivery-form__info {
  color: var(--color-gray-dark);
}

.delivery-form__body {
  display: grid;
  grid-template-columns: 117px auto;
  gap: 20px 16px;
}

.delivery-form__item--wide {
  grid-column: -1 / 1;
}

.tooltip {
  position: relative;
}

.tooltip:not(:hover) .tooltip__body {
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  display: inline-flex;
}

.tooltip__body {
  position: absolute;
  top: 50%;
  left: 100%;
  display: flex;
  min-width: 240px;
  padding: 15px;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.2s;
  background-color: var(--color-light);
  border: 2px solid var(--color-accent);
  transform: translateY(-50%);
}

.form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 4px;
}

.form-item__input {
  flex-basis: 100%;
  width: 100%;
}

.input {
  height: 48px;
  padding-inline: 16px;
  background-color: var(--color-light);
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}

.input::placeholder {
  color: var(--color-gray);
}

.feedback__inner {
  padding: 64px;
  background: var(--color-light) url("./images/feedback.jpg") center/cover no-repeat;
  border-radius: 16px;
}

.feedback__body {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
  max-width: 343px;
  padding: 40px;
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}

.feedback__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.feedback__contacts-item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.feedback__contacts-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-dark);
}

.feedback__contacts-hint {
  font-size: 0.875em;
}

.socials__list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 12px;
  align-items: center;
}

.social__list-item {
  list-style-type: none;
}

.footer {
  padding-block: 48px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-item {
  position: relative;
}

.footer__menu-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.footer__menu-link {
  color: inherit;
}

.footer__menu-link.is-current {
  font-weight: 700;
}

.footer__menu-list {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  max-width: 356px;
  list-style: none;
}

.footer__menu-item {
  padding-left: 24px;
}

.current__link {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.quick-search__input {
  min-width: 324px;
}

.page-header__breadcrumbs {
  margin-bottom: 16px;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.breadcrumbs__item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child)::after {
  content: url("./images/icons/chevrons-right.svg");
}

.breadcrumbs__item:last-child .breadcrumbs__link {
  border-bottom: 1px solid #2D3440;
  pointer-events: none;
}

.breadcrumbs__link {
  margin-right: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.catalog__filter-list-container {
  margin: 40px 0 0 98px;
  padding: 0;
  width: 823px;
  height: 148px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
}

.catalog__filter-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
}

.catalog__filter-label {
  margin-left: 16px;
  font-size: 14px;
}

.catalog__filter-control {
  display: flex;
  align-items: center;
  height: 36px;
  padding-inline: 24px;
  font-size: 14px;
  border-radius: 20px;
  background-color: rgb(252 252 252 / 0.3);
}

select.catalog__filter-control {
  border: none;
}

.range-slider {
  display: flex;
  align-items: center;
  width: 196px;
  border: none;
  box-shadow: none;
}

.noUi-base,
.noUi-connects {
  height: 2px;
}

.noUi-connects {
  background-color: rgb(86 92 102 / 0.3);
}

.noUi-connect {
  background-color: rgb(86 92 102);
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  transform: translate(-50%, -1px);
}

.noUi-handle {
  background-color: var(--color-light);
  border: 6px solid var(--color-dark);
  border-radius: 50%;
  cursor: default;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.radio-group {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.radio {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.radio__emulator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
}

.radio__emulator::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--color-dark);
  border-radius: 50%;
  transition: 0.2s;
}

.radio__control:not(:checked)+.radio__emulator::after {
  opacity: 0;
}


.filter__label {
  margin-left: 16px;
  font-size: 14px;
}

.filter__control {
  display: flex;
  align-items: center;
  max-width: 604px;
  height: 36px;
  padding-inline: 24px;
  font-size: 14px;
  border-radius: 20px;
  background-color: rgb(252 252 252 / 0.3);
}

.filter__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
}

.input__controlls-button {
  display: flex;
  width: 185px;
  height: 36px;
  padding: 8px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--basic-extra-light, #FCFCFC);
  background: rgba(252, 252, 252, 0.30);
}

.goods__button-white{
  display: flex;
  padding: 41px 98px;
  justify-content: center;
  align-items: center;
}